<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <title>About</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"> <a href="https://t.me/odilov_abdullajon/">Abdullajon's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/">Home</a></div>
                <div><a href="https://t.me/odilov_abdullajon/">Blog</a></div>
                <div><a href="/intervyu/">Intervyu</a></div>
                <div><a href="https://t.me/bestdev_uz/">Channel</a></div>
            </div>
        </div>
        <div class="row aboutme">
            <div class="col-12">
                <h1>About me</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-12">
                <p>I am Abdullajon Odilov, a 20-year-old <b>Junior Python Backend Developer</b> from Rishtan, Uzbekistan, currently living in Fergana city.
                    <br>
                    <div class="col-12 col-md-3 col-sm-12 header-img">
                         <img src="/static/portrait.png" alt="">
                    </div>
                    <center><h2>Work experience</h2></center>
                    <br>
                        I did internship at Codial Academy, During my internship I built and led the development of multiple Django-based web applications, resulting in a 20% increase in user engagement.
<br><br>

                    <center><h3>  Self-employed</h3></center>
                    <p>I’ve been working self-employed 4 months from now . Although, I am a junior Python Backend Developer,
                        I’ve successfully completed real projects and I committed some projects on github.com.
                        <br><b>LinkedIn, global freelancing platform, locally – (2022.06.01-now)</b>
                    </p>
                    <br><br>
                        <p>
                            <h3>🛠 Skills</h3>

                            - <b>1.5 +</b> years of <b>Python development.</b><br>
                            - Practical experience with  <b>Django(REST API), Django Rest Framework, Flask framework</b><br>
                            - Practical experience in <b>code refactoring and writing unit tests</b><br>
                            - Good understanding of <b>HTML, CSS</b> and confident user of <b>GitHub</b><br>
                            - <b>OOP skills</b></br>
                            - Familiar with <b>CI/CD, TDD and Agile</b> methodologies<br>
                            - <b>Aiogram, Telegram bot</b><br>
                            - Good <b>mathematic</b> skills<br>
                            - Excellent knowledge of <b>MS Office</b> (Excel, Word, PowerPoint)<br>
                            - Collaborative with <b>great communication</b> skills<br>
                            - Familiar with <b>Docker</b><br><br><br>

                        <h3>Django</h3>

                            Middle experience with user-authentication, ORM usage<br><br>

                        <h3>Django Rest Framework</h3>

                            Experience with different API classes, unit tests, swagger documentation
                        </p><br><br>
<!--                    <img src="/" alt="">-->
                    <center><h4>Algorithm & Data structures</h4><center>
                    <p>I've solved around 150 problems related to algo & D.S on <a href="https://leetcode.com/AbdullajonOdilov/">leetcode</a>. I  recently started  I have got a 3-star Python badge on hackerrank.com in a week. I love repetitive tasks, I see them as an opportunity for automation. </p>
                    <img src="/static/leetcode.png" alt="">
                    <br><br>
                    <h3>Projects</h3>
                <p><b>Export & Import website.</b> Link for the project: [SXBteams] <a href="https://sxbteams.uz/en/">open.<br><br></a>

                    <b>Warehouse CRM.</b> Link for the source code: <a href="https://github.com/AbdullajonOdilov/online-store.git">here</a>

                        The project helps warehouse owners to manage their data such as products, clients, and the stats about who bought what product from their warehouse, remainders, debts of the clients.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-9 col-sm-12 header-text">
           <div class="row footer">
                <div class="col-12 col-md-9 col-sm-12 header-text">

                    <a href="https://t.me/odilov_abdullajon/">Telegram<img src="" alt=""></a>
                    <p>© 2023 All Rights Reserved.</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>