<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <title>Channel</title>
</head>
<body>
<div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="/static/bir.html">Abdullajon's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/about/">About</a></div>
                <div><a href="/intervyu/">Intervyu</a></div>
                <div><a href="/blog/">Blog</a></div>
                <div><a href="/">Home</a></div>
            </div>
        </div>
    <div class="row blog">
<br>
<br>

        <br>
<br>
<h2>They are my channels in social media</h2>
<br>
<br>
        <br>
<br>
<h3><a href="https://www.instagram.com/odilov_abdullajon_/" target="_blank">instagram</a><br>
<h3><a href="https://www.tiktok.com/@ufc_mma_boks_uzb/" target="_blank">Tiktok</a><br>
<h3><a href="https://www.fb.com/abdullajon.odilov.3/" target="_blank">Facebook</a><br>
<h3><a href="https://www.linkedin.com/in/abdullajon-odilov/" target="_blank">LinkdIn</a><br>
<br>
<br>
</h3>
</h3>
</h3>
</h3>
    </div>
</div>
</body>
</html>