<!DOCTYPE html>
<html lang="uz">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bir.css' %}">
    <title>Abdullajon's Blog</title>
</head>
<body>
    <div class="container">
        <div class="row navbar">
<!--            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="./index.html">Abdullajon's Blog</a></div>-->
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"> <a href="https://t.me/odilov_abdullajon/">Abdullajon's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/about/">About</a></div>
                <div><a href="https://t.me/odilov_abdullajon/">Blog</a></div>
                <div><a href="/intervyu/">Intervyu</a></div>
                <div><a href="https://www.instagram.com/odilov_abdullajon_/">Channel</a></div>
            </div>
        </div>
        <div class="row header">
            <div class="col-12 col-md-3 col-sm-12 header-img">
                <img src="/static/portrait.png" alt="">
            </div>
            <div class="col-12 col-md-9 col-sm-12 header-text">
                <h1>Abdullajon Odilov</h1>
                <p>Python Backend Developer</p>
                <a href="https://youtube.com/channel/UC8XX6d7IJ4Rki2Y2FnfuXXw"><img src="/static/youtube.png" alt=""></a>
                <a href="https://mobile.twitter.com/abdullajonodil2"><img src="/static/twitter.png" alt=""></a>
                <a href="https://github.com/AbdullajonOdilov"><img src="/static/github.png" alt=""></a>
                <a href="https://www.linkedin.com/in/abdullajon-odilov/"><img src="/static/in.png" alt=""></a>
                <a href="https://www.instagram.com/odilov_abdullajon_/"><img src="/static/ins.png" alt=""></a>
                <a href="https://t.me/odilov_abdullajon/"><img src="/static/telegram.png" alt=""></a>
            </div>
            <div class="col-12 col-md-12 col-sm-12 header-btn">
                 <a class="btn-1" href="https://t.me/odilov_abdullajon/">Blog</a>
                <a class="btn-2" href="/about/">About</a>

            </div>
            <div class="row footer">
                <div class="col-12 col-md-9 col-sm-12 header-text">
                    <a href="https://t.me/odilov_abdullajon/">Telegram<img src="/static/telegram.png" alt=""></a>
                    <p>© 2023 All Rights Reserved.</p>
                </div>

            </div>
            <br>
            <br>
        </div>
    </div>
</body>
</html>